@use "../node_modules/bootstrap/scss/bootstrap";

.App {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-middle{
    vertical-align: middle;
    padding: 5px;
}

.btn-large{
    font-size: x-large;
}

.field {
    height: 100px;
}

.word {
    font-size: large;
    font-weight: bold;
    padding: 5px 0px 5px 20px;
}

.guess {
    padding: 5px 0px 5px 10px;
}

.result {
    font-size: large;
    font-weight: bold;
    padding: 5px 0px 5px 10px;

    &--fail {
        color: red;
    }

    &--good {
        color: orange;
    }

    &--great {
        color: blue;
    }

    &--perfect {
        color: green;
    }
}

.bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color:white;
    align-items: stretch;
    padding: 10px;
    flex-grow: 4;
    flex-basis: 0;
    flex-shrink: 0;

    &__child {
        width: 40px;
        height: 10px;
        margin: 0.5px;
        text-align: center;
        vertical-align: middle;
        background-color: grey;

        &--true {
            background-color: green;
        }

        &--false {
            background-color: red;
        }
    }
}

.admin {
    padding: 5px;
}

.card-no-border {
    border: 0;
}

.card-body {
    padding: 10px;
    width: 90%;
}

.row {
    margin: 0;
}

.col {
    padding: 5px;
}

.found {
    padding: 10px;
}

.list {
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
}

.wrong {
    padding-left: 10px;
    font-size: x-large;
}